USE [RBEI-Dashboard-SQL-2025-8-19-13-23 1]
GO
/****** Object:  Table [dbo].[entry_exit_bulk_copy]    Script Date: 11/13/2025 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry_exit_bulk_copy](
	[EmployeeNumber] [int] NOT NULL,
	[CalDate] [date] NOT NULL,
	[IsSwipe] [bit] NOT NULL,
	[IsTravel] [bit] NOT NULL,
	[IsLeave] [bit] NOT NULL,
	[IsNoSwipe] [bit] NOT NULL,
	[IsWeekend] [bit] NOT NULL,
	[HoPCount] [bit] NULL,
	[LeaveType] [int] NULL,
	[HOP_TYPE] [int] NULL
) ON [PRIMARY]
GO
