USE [RBEI-Dashboard-SQL-2025-8-19-13-23 1]
GO
/****** Object:  Table [dbo].[entry_exit_HOPType_bulk_copy]    Script Date: 11/13/2025 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry_exit_HOPType_bulk_copy](
	[HOP_KEY] [int] NULL,
	[HOP_TYPE] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
