USE [RBEI-Dashboard-SQL-2025-8-19-13-23 1]
GO
/****** Object:  Table [EntryExit].[SwiftRequest]    Script Date: 11/13/2025 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EntryExit].[SwiftRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [int] NULL,
	[RequestPayload] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[AATPNumber] [varchar](50) NULL,
	[TPNumber] [varchar](50) NULL,
	[ExceptionMessage] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [EntryExit].[SwiftRequest] ON 

SET IDENTITY_INSERT [EntryExit].[SwiftRequest] OFF
GO
