USE [RBEI-Dashboard-SQL-2025-8-19-13-23 1]
GO
/****** Object:  Table [EntryExit].[DetailsScreenColor]    Script Date: 11/13/2025 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EntryExit].[DetailsScreenColor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SubLocation] [nvarchar](20) NULL,
	[Color] [nvarchar](20) NULL,
	[Icon] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [EntryExit].[DetailsScreenColor] ON 

INSERT [EntryExit].[DetailsScreenColor] ([id], [SubLocation], [Color], [Icon]) VALUES (1, N'KOR', N'#E8B6E3', N'https://rbeidashboardsadev.blob.core.windows.net/entry-exit/Icons/cross.png')
INSERT [EntryExit].[DetailsScreenColor] ([id], [SubLocation], [Color], [Icon]) VALUES (2, N'EC2', N'#007BC0', N'https://rbeidashboardsadev.blob.core.windows.net/entry-exit/Icons/cross.png')
INSERT [EntryExit].[DetailsScreenColor] ([id], [SubLocation], [Color], [Icon]) VALUES (3, N'EC3', N'#E8B6E3', N'https://rbeidashboardsadev.blob.core.windows.net/entry-exit/Icons/cross.png')
SET IDENTITY_INSERT [EntryExit].[DetailsScreenColor] OFF
GO
