USE [RBEI-Dashboard-SQL-2025-8-19-13-23 1]
GO
/****** Object:  Table [EntryExit].[MinOfficeDays]    Script Date: 11/13/2025 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EntryExit].[MinOfficeDays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MinOfficeDays] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsMonthly] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [EntryExit].[MinOfficeDays] ON 

INSERT [EntryExit].[MinOfficeDays] ([id], [MinOfficeDays], [StartDate], [EndDate], [IsMonthly]) VALUES (1, 3, CAST(N'2024-12-30' AS Date), CAST(N'2025-03-02' AS Date), 0)
INSERT [EntryExit].[MinOfficeDays] ([id], [MinOfficeDays], [StartDate], [EndDate], [IsMonthly]) VALUES (2, 4, CAST(N'2025-03-03' AS Date), CAST(N'2027-01-03' AS Date), 0)
INSERT [EntryExit].[MinOfficeDays] ([id], [MinOfficeDays], [StartDate], [EndDate], [IsMonthly]) VALUES (3, 16, CAST(N'2025-03-01' AS Date), CAST(N'2028-12-31' AS Date), 1)
SET IDENTITY_INSERT [EntryExit].[MinOfficeDays] OFF
GO
