USE [RBEI-Dashboard-SQL-2025-8-19-13-23 1]
GO
/****** Object:  Table [EntryExit].[Allocated_SeatCount]    Script Date: 11/13/2025 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EntryExit].[Allocated_SeatCount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](20) NULL,
	[SubLocation] [nvarchar](20) NULL,
	[SeatCount] [int] NULL,
	[Icon] [nvarchar](max) NULL,
	[Color] [nvarchar](20) NULL,
	[ReaderLocation] [nvarchar](20) NULL,
	[created_date] [datetime2](7) NULL,
	[updated_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [EntryExit].[Allocated_SeatCount] ON 

INSERT [EntryExit].[Allocated_SeatCount] ([id], [Location], [SubLocation], [SeatCount], [Icon], [Color], [ReaderLocation], [created_date], [updated_date]) VALUES (1, N'BGSW - Bangalore', N'KOR', 1631, N'https://entry-exit/Icons/skyscraper-flat.png', N'#9E2896', N'KOR', CAST(N'2025-06-07T06:29:25.8566667' AS DateTime2), CAST(N'2025-08-19T11:06:42.4818491' AS DateTime2))
INSERT [EntryExit].[Allocated_SeatCount] ([id], [Location], [SubLocation], [SeatCount], [Icon], [Color], [ReaderLocation], [created_date], [updated_date]) VALUES (2, N'BGSW - Bangalore', N'EC2', 358, N'https://rbeidashboardsadev.blob.core.windows.net/entry-exit/Icons/skyscraper-flat.png', N'#007BC0', N'EC2', CAST(N'2025-06-07T06:29:25.8566667' AS DateTime2), CAST(N'2025-06-16T18:06:12.5557953' AS DateTime2))
INSERT [EntryExit].[Allocated_SeatCount] ([id], [Location], [SubLocation], [SeatCount], [Icon], [Color], [ReaderLocation], [created_date], [updated_date]) VALUES (3, N'BGSW - Bangalore', N'EC3', 5324, N'https://rbeidashboardsadev.blob.core.windows.net/entry-exit/Icons/skyscraper-flat.png', N'#18837E', N'EC-360', CAST(N'2025-06-07T06:29:25.8600000' AS DateTime2), CAST(N'2025-08-19T11:06:42.4818491' AS DateTime2))
SET IDENTITY_INSERT [EntryExit].[Allocated_SeatCount] OFF
GO
